
body, html {
  margin: 0;
  /* height: 100%; */

  /* overflow: hidden; */
}
html,body {
  scroll-behavior: smooth;
}

.title {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
}
/* canvas {
  width: 100vw;
  height: 100vh;
} */
.snap-container {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.snap-container > * {
  scroll-snap-align: start;
  height: 100vh;
}

.scroll-container {
  height: 100vh;       /* full viewport height */
  overflow-y: scroll;  /* vertical scroll */
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth; /* smooth scrolling */
}


.section {
  scroll-snap-align: start;
  height: 100vh;       /* full viewport height */
  /* Optional styling */
  display: flex;
  justify-content: center;
  align-items: center;
}